
$g-color-gray: #44535e;
$g-color-light-gray: #e3e3e3;
$g-color-white: #fcfcfc;

$g-font-style-default: "Noto Sans JP";

$g-font-color-white: $g-color-white;
$g-font-color-gray: $g-color-gray;

$g-font-size-large: 32px;
$g-font-size-middle: 24px;
$g-font-size-small: 16px;
$g-font-size-very-small: 10px;
